html, body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

header {
  color: #525454;
  font-size: 20px;
  margin: 5px 0 5px 0;
  text-align: center;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
 height: 325px;
 width: 100%;
}

#location-container {
  width: 75%;
  text-align: center;
  margin: auto;
}
